*.pt
*.c
*.so
*.annis
*.pyd
*.DS_Store

_build/*.pt*
__pycache__/
utils/__pycache__/
utils/get_reddit/__pycache__/
_build/build/
_build/target/
_build/utils/pepper/tmp/
_build/utils/pepper/pepper_out.txt
_build/utils/pepper/pepper_warning_out.txt
_build/utils/get_reddit/*.txt
annis/
paula/
_build/src/
_build/target/
