The	DT	the
TreeTagger	NP	TreeTagger
can	MD	can
also	RB	also
be	VB	be
used	VVN	use
as	IN	as
a	DT	a
chunker	NN	chunker
for	IN	for
English	NP	English
,	,	,
German	JJ	German
,	,	,
French	JJ	French
,	,	,
and	CC	and
Spanish	NP	Spanish
.	SENT	.
