<configuration>

	<!-- This appender is supposed to write all messages to the standard output, 
		which usually is the console. All messages written to here are visible for 
		the user. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n%ex</pattern>
		</encoder>
	</appender>

	<!-- This appender is supposed to write all messages to the debug file, 
		which is configured in here. -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>pepper_out.txt</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>